[user]
	name = {{ .name }}
	email = {{ .email }}

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	untrackedCache = true
	trustctime = false
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[apply]
	whitespace = fix

[branch]
	sort = -committerdate

[column]
	ui = auto

[commit]
	gpgsign = false

[diff]
	renames = copies
	algorithm = histogram

[diff "bin"]
	textconv = hexdump -v -C

[fetch]
	prune = true

[merge]
	log = true
	conflictstyle = zdiff3

[pull]
	rebase = true

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[rebase]
	autoStash = true

[rerere]
	enabled = true

[help]
	autocorrect = 1

[alias]
	s = status -sb
	c = commit
	cm = commit -m
	ca = commit --amend
	co = checkout
	cob = checkout -b
	br = branch
	brd = branch -d
	l = log --oneline --graph --decorate
	la = log --oneline --graph --decorate --all
	d = diff
	ds = diff --staged
	st = stash
	stp = stash pop
	stl = stash list
